.banner {
    background: transparent url('banner.png') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    opacity: 77%;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 2em;
        color: white;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }



.pure-u-1-2 {
    border: solid lightgray 1px;
    border-radius: 8px;
    margin: 6px;
    padding: 16px;

}

#left {
    width: auto;
    margin-left: 36px;
    /*text-align: center;*/
}

#right {
    color: #424242;
    width: 66%;
}

#table {
    width: auto;
    height: auto;
}

#left-form {
    /*background-color: #b2dfdb;*/
    padding: 8px;
    border: solid #cfd8dc 1px;


}



.title {
    margin: 20px;
}

#keyword {
    border-radius: 6px;
}

#geo-type {
    color: #616161;
    padding: 1px;
}



.pure-button {
    background-color: #80cbc4;
    color: white;
    border-radius: 7px;
}

.choose-button {
    margin-right: 0;
    margin-top: 16px;
    color: white;
    background-color: #78909c;
    border-color: grey;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.selected-state {
    background-color: #e0e0e0;
    color: #455a64;
    border-radius: 6px;
    border: solid #90a4ae 1px;
    padding: .5em 1em;
    box-sizing: content-box;
    margin: 15px;
    display: table;
    -webkit-box-shadow:0px 3px 3px #c8c8c8 ;
    -moz-box-shadow:0px 3px 3px #c8c8c8 ;
    box-shadow:0px 3px 3px #c8c8c8 ;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

#addgeo, #submitgeos {
    text-align: center;
}

#submitgeos {
    padding-top: 12px;
}

legend {
    color: #424242;
    font-size: x-large;
    font-weight:800;
    background:#fff;
}

.pure-form {
    display: grid;
    justify-content: center;
}

.bootstrap-select > .btn {
    white-space: normal !important;
}
