<div id="table" style="overflow:scroll">
    <table class="pure-table">
        <tr>
            {% for col in column_names %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for category in categories %}
        <tr>
            <th colspan="{{ column_names|length }}" style="text-align: left;" data-toggle="tooltip" title=>{{ category }}</th>
        </tr>
        {% for row in rows[category] %}
        <tr>
            {% for col, row_ in zip(column_names, row) %}
            <td>{{ row_ }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
</div>