<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename = 'jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript" src="/static/main.js"></script>
    <script type="text/javascript" src="/static/SOL/sol.js"></script>
    <link rel="stylesheet" href="static/SOL/sol.css">
    <script>
        $(document).ready(initPage);
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://cdn.staticfile.org/pure/1.0.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>homepage</title>
</head>

<body>
    <div class="title">
        <h1>Capstone Draft</h1>
    </div>
    <div class="pure-g">
        <form id="submitcounties" action="">
            <div class="pure-u-1-2" id="left">
                <div>
                    <legend>Geography Selection Box</legend>
                    {% with messages = get_flashed_messages(with_categories = true) %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message[1] }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    <form id="addgeo" action="">
                        {{ form.csrf_token }}

                        <div class="input text">
                            <div class>
                                {{ form.state.label }}
                                {{ form.state }}
                            </div>
                            <br>
                            <div>
                                {{ form.county.label }}
                                {{ form.county }}
                            </div>
                        </div>
                        <div class="input submit">
                            <input type="submit" value="Register geography"></div>
                    </form>
                    <div id="statesList">
                        {% if selected_states %}
                        {% for state in selected_states %}
                        {{ state }}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <select id="my-select" name="character">
                        {% for category in available_categories %}
                        <optgroup label="{{ category }}">
                            {% for var in available_vars %}
                            {% if var['category'] == category %}
                            <option value="{{ var['name'] }}">{{ var['name'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="input submit">
                <input type="submit" value="test button">
            </div>
        </form>
        <form id="submitgeos" action="">
            <div class="input submit">
                <input type="submit" value="View Data">
            </div>
        </form>
        {{ rendered_table }}
        <form class="pure-form pure-form-stacked" action="download-data">
            <fieldset>
                <button type="submit" class="pure-button pure-button-primary" {% if not data_available %} disabled
                    {% endif %}>Download</button>
            </fieldset>
        </form>

    </div>



</body>

</html>